/**************** CUSTOM CSS STYLES ***************** 
*
* Date:		26 October 2020
* Authors: 	C18350801 Markus Baciu & C18727971 Thamsanqa Sibanda
*

HTML{
	background-image: url("../img/bg.jpg");
	background-size: 1920px 1080px;
	background-position: 0px -150px;
	background-repeat: no-repeat;
}*/
body{
	
	background: transparent !important;
	color: #444;
}

.custom-background-box{
	
	position: absolute;
	padding: 0px;
	left: 0px;
  	top: 0px;
	z-index: -99;
	width: 100%;
	height: 600px;
	margin: 0px auto;
	background-image: url("../img/bg.jpg");
	background-size: 1920px 1080px;
	background-position: 0px -350px;
	background-repeat: no-repeat;
}
.bg-dark {
   background: rgba(0,0,0,0.4) !important;
}

.my-icons{
	padding: 5px 12px;
}
#contact-details a:link{
	color: #F2D9BB;
}
#contact-details a:active{
	color: #F2D9BB;
}
#contact-details a:visited{
	color: #F2D9BB;
}
#contact-details a:hover{
	color: #fff;
}
.br-bottom{
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.no-right-pad{
	padding-right: 0px !important;
}
.no-left-pad{
	padding-left: 0px !important;
}
.btn{
    border-radius: 0 !important;
}

.btn-primary {
    color: #fff;
    background-color: #BF9169;
    border-color: #a57d5b;
}
/*********** Main Navigation  *************/
navbar-dark .nav-link {
    color: #fff !important;
	font-weight: bold;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #BF9169;
    background-color: transparent;
    border-color: #BF9169; /*set the color you want here*/
}
.drop_shaddow{
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.sec_space{
	height: 355px;
}
.xtr_tb_pad{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
.form-control {
    border-radius: 0px !important;
}